.container {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  height: 100vh;
}

.main-container {
  display: flex;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #fff;
  min-height: calc(100vh - 60px);
  width: 100%;
  box-shadow: 2px 0 5px 1px #a9a6a64d;
  position: sticky;
  top: 0px;
}

/* Side Bar Menu for desktop*/

.sidebar ul {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.content {
  flex: 3;
}

.right-side-bar {
  flex: 1;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-container {
    flex-direction: column;
  }
}
