
.container{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #E8E8E8;

}

.icon{
    width: 24px;
    margin-left: 20px;
    margin-right: 20px;

}

.texts{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.title{
    color: #002049;
    font-size: 18px;
}

.description{
    color: #A8A8A8;
    font-size: 13px;
}


.arrow-icon{
    width: 24px;
}

.icon-container{
    flex:1;
    display: flex;
}


.arrow-container{
    flex:1;
    display: flex;
    justify-content: flex-end;
}