.container{
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    height: 100vh;
    top: 0;
    width: 200px;
    box-shadow: 2px 0 5px 1px #a9a6a64d;
}


.close-button{
    width:25px;
    margin:10px;
}

.avatar{
    margin: auto;
    margin-top: 10px;
}

.username{
    text-align: center;
    font-size: large;
    color: #5d5d5d;
}


.menu{
    list-style: none;
}

.menu-icon{
    width:20px;
}

.menu li{
    display: flex;
    padding:10px 15px;
}

.menu li span{
    margin-left: 10px;
    font-size: 20px;
}

.searchbar{
    margin:15px 0px;
}

.footer{
    margin: 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.settingsOption{
    display: flex;
}

.settingsOption span{
    margin-left: 3px;
}

/* Device = Most of the Smartphones Mobiles (Portrait) and Low Resolution tablets
  Screen = B/w 320px to 767px
*/ 

@media (min-width: 320px) and (max-width: 767px) {
    .container{
        width: 100%;
        overflow: scroll;
        align-items: center;
    }

    .close-button{
        align-self: end;
    }

    .menu{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }
  
}